:root {
  --max-width: 100%;
  --border-radius: 12px;
  --font-mono: 'Genos';

}


html {
  height: 100%;
}

body {
font-family:  'Genos' !important;
margin:0;
padding:0;
width:100%;
height: 100%;
background-color: #171717;

}

a {
  color: #f3e4d7;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}


.linkProps {
  text-decoration: none !important;
  color: inherit;
  font-size: 20px;

}



.footerStyle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.window {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height:100%;
  position:relative;
  justify-content: center;
}

nav {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #EDEDED;
  font-family:  'Genos' !important;
  z-index: 10;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tabs {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: shrink;
}
main {
  user-select: none;
  min-height:100%;
  min-width: 30%;
  margin-left: 100px;
  margin-right: 100px;
  position:relative;
  display: flex;
  justify-content: center;
} 

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  /* width: 100%; */
}

li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-shrink: shrink;
  min-width: 0;
  user-select: none;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

li.selected {
  background: #F05454;
  height: auto;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.add-item {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.add-item:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

