:root {
  --max-width: 100%;
  --border-radius: 12px;
  --font-mono: 'Genos';

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
font-family:  'Genos' !important;
background-color: '#181D31';
min-height: 100%;

}

a {
  color: #f3e4d7;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}





.linkProps {
  text-decoration: none !important;
  color: inherit;
  font-size: 20px;

}

img {
  object-fit: contain;
  opacity: 0.5;
  height: 400;
  width: 300;
}

.footerStyle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
}


